<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Brewery</th>
  </tr>
  </thead>

  <tbody>
  <% @style.beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= link_to beer.brewery.name, beer.brewery %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
