<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>

</p>

<p>
  <i>Established at <%= @brewery.year %></i>
</p>

<p>
  <%= @brewery.beers.count %> beers:
</p>

<ol>
  <% @brewery.beers.each do |beer| %>
      <li>
        <%= link_to beer.name,  beer %>
      </li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
